boto3==1.26.70
filelock==3.10.4
importlib_metadata==6.0.0
jax==0.4.6
matplotlib==3.5.0
numpy==1.21.4
pandas==1.5.3
requests==2.25.1
scikit_learn==1.2.2
smart_pytorch==0.0.4
tensorflow==2.11.0
tokenizers==0.13.2
transformers==4.26.1
